// Declaration Variable
$dark-color: #222222;
$white-color: #ffffff;
$orange-color: #F8AB3A;
$silver-light-colour: #B2B2B2;
$silver-dark-colour: #7f7f7f;
$silverlighttwo : #E5E5E5;
$border-profile-color: #efefef;
$table-head-bg: #f2f2f2;
$white-opacity-50: rgba(255, 255, 255, 0.5);

* {
  padding: 0;
  margin: 0;
}

body {
  color: $dark-color;
  margin-top: 70px;
}

.bg-dark {
	background-color: $dark-color;
}
.text-silver-dark {
	color: $silver-dark-colour;
}
.text-silver-light {
	color: $silver-light-colour;
}
.text-orange {
	color: $orange-color;
}
.text-dark {
	color: $dark-color;
}
.font-size-48 {
	font-size: 48px;
}
.font-size-36 {
	font-size: 36px;
}
.font-size-20 {
	font-size: 20px;
}
.font-size-12 {
	font-size: 12px;
}
.font-size-14 {
	font-size: 14px;
}
.font-size-16 {
	font-size: 16px;
}
.font-size-10 {
	font-size: 10px;
}

.border-bottom-orange {
	border-bottom: 5px solid $orange-color;
	margin-top: 10px;
	width: 50px;
}
.border-bottom-dark {
	border-bottom: 2px solid $dark-color;
	margin-top: 10px;
}

.border-radius-10 {
	border-radius: 10px;
}
.border-success {
	border: 1px solid green;
}
.bg-white-with-shadow {
	background-color: #fff;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3) !important;
}

.border-box-silver {
	-webkit-box-shadow: 2px 2px 5px 0px rgba(127,127,127,0.51);
	-moz-box-shadow: 2px 2px 5px 0px rgba(127,127,127,0.51);
	box-shadow: 2px 2px 5px 0px rgba(127,127,127,0.51);
}

.label {
	color: $silver-light-colour;
	font-weight: 200;
	letter-spacing: 3px;
	font-size: 12px;
}
.no-letter-spacing {
	letter-spacing: 0;
}
.letter-spacing-1 {
	letter-spacing: 1px;
}
.letter-spacing-2 {
	letter-spacing: 2px;
}
.label-silver-dark {
	color: $silver-dark-colour;
	font-weight: 200;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: DinM;
}
label {
	color: $silver-light-colour;
	font-size: 12px;
	font-family: DinM;
}

.no-border {
	border: 0;
}

.form-border-1 {
	border: 1px solid $silver-light-colour;
}
.form-border-silver {
	border: 1px solid $silverlighttwo;
}
.form-select {
	color: $silver-dark-colour;
}
option {
	// text-transform: uppercase;
	font-family: DinM;
	color: $silver-light-colour;
}
.panelCard-0 {
	padding-bottom: 0;
	padding-top: 0;
}
.btnSearch {
	border-radius: 0;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
	height: 100%;
}

.list-unstyled li {
	color: $silver-light-colour;
}

.arrow-right {
	margin-top: -44px;
	position: absolute;
	right: 125px;
}

.border-orange {
	border: 2px solid $orange-color;
}
.slider-selection {
	background: $orange-color !important;
}
.slider.slider-horizontal {
    width: 100% !important;
    height: 5px;
}
.slider-handle {
	border: 1px solid $orange-color;
	background-color: $white-color !important;
	background-image: none !important;
}

.opacity-50 {
	opacity: 50%;
}

.border-radius-chat {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.circle-success {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: green;
}
.circle-orange {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: $orange-color;
}

.chat {
	background: $silver-dark-colour;
}
.chat-left {
	background-color: #fff !important;
}

.table-responsive table {
	border-collapse: separate;
	border: none;
}
.table-head {
	background-color: $table-head-bg;
	border-radius: 10px;
}
.table-row {
	background-color: #fff;
	box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13);
}
.text-decoration-warning {
	border-bottom: 1px solid $orange-color;
	display: inline;
}
.text-decoration-dark {
	border-bottom: 1px solid $dark-color;
	display: inline;
}
.custom-table > .row {
	width: 100%;
	white-space: nowrap;
}

@media screen and (max-width: 568px){
	.arrow-right {
		margin-top: -44px;
		position: absolute;
		right: 77px;
	}
	.border-profile {
		display: none;
	}
	.btnSearch {
		padding: 10px;
	}
	.custom-table > .row {
		width: 170vh;
		// white-space: nowrap;
	}
}

@media screen and (min-width: 997px){	
	.border-right-custom{
		padding: 20px;
		border-right: 2px solid $border-profile-color;
	}
	.border-bottom-custom{
		padding: 20px;
		border-bottom: 1px solid $border-profile-color;
	}
	.border-bottom-custom-op-50{
		padding: 20px;
		border-bottom: 1px solid $white-opacity-50;
	}
	hr {
		color: $border-profile-color;
		height: 2px;
		margin: 20px;
		z-index: 99;
	}
	.pr-40 {
		padding-right: 40px;
	}

}