// Declaration Variable
$dark-color: #222222;
$white-color: #ffffff;
$orange-color: #F8AB3A;
$silver-light-colour: #B2B2B2;
$silver-dark-colour: #7f7f7f;
$silverlighttwo : #E5E5E5;
$border-profile-color: #efefef;
$white-opacity-50: rgba(255, 255, 255, 0.5);

* {
  padding: 0;
  margin: 0;
}

body {
  color: $dark-color;
  margin-top: 70px;
}

.text-silver-dark {
	color: $silver-dark-colour;
}
.text-silver-light {
	color: $silver-light-colour;
}
.text-orange {
	color: $orange-color;
}
.text-dark {
	color: $dark-color;
}
.font-size-48 {
	font-size: 48px;
}
.font-size-36 {
	font-size: 36px;
}
.font-size-12 {
	font-size: 12px;
}
.font-size-14 {
	font-size: 14px;
}
.font-size-16 {
	font-size: 16px;
}
.font-size-10 {
	font-size: 10px;
}

.label {
	color: $silver-light-colour;
	font-weight: 200;
	letter-spacing: 3px;
	font-size: 12px;
}
.no-letter-spacing {
	letter-spacing: 0;
}
.letter-spacing-1 {
	letter-spacing: 1px;
}
.letter-spacing-2 {
	letter-spacing: 2px;
}
.label-silver-dark {
	color: $silver-dark-colour;
	font-weight: 200;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: DinM;
}
label {
	color: $silver-light-colour;
	font-size: 12px;
	font-family: DinM;
}

.no-border {
	border: 0;
}

.form-border-1 {
	border: 1px solid $silver-light-colour;
}
.form-border-silver {
	border: 1px solid $silverlighttwo;
}
.form-select {
	color: $silver-dark-colour;
}
option {
	text-transform: uppercase;
	font-family: DinM;
	color: $silver-light-colour;
}
.panelCard-0 {
	padding-bottom: 0;
	padding-top: 0;
}
.btnSearch {
	border-radius: 0;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
	height: 100%;
}

.list-unstyled li {
	color: $silver-light-colour;
}

.arrow-right {
	margin-top: -44px;
	position: absolute;
	right: 125px;
}

.border-orange {
	border: 2px solid $orange-color;
}
.slider-selection {
	background: $orange-color !important;
}
.slider.slider-horizontal {
    width: 100% !important;
    height: 5px;
}
.slider-handle {
	border: 1px solid $orange-color;
	background-color: $white-color !important;
	background-image: none !important;
}

.opacity-50 {
	opacity: 50%;
}


@media screen and (max-width: 568px){
	.arrow-right {
		margin-top: -44px;
		position: absolute;
		right: 77px;
	}
	.border-profile {
		display: none;
	}
	.btnSearch {
		padding: 10px;
	}
}

@media screen and (min-width: 997px){	
	.border-right-custom{
		padding: 20px;
		border-right: 2px solid $border-profile-color;
	}
	.border-bottom-custom{
		padding: 20px;
		border-bottom: 1px solid $border-profile-color;
	}
	.border-bottom-custom-op-50{
		padding: 20px;
		border-bottom: 1px solid $white-opacity-50;
	}
	hr {
		color: $border-profile-color;
		height: 2px;
		margin: 20px;
	}

}