* {
  padding: 0;
  margin: 0;
}

body {
  color: #222222;
  margin-top: 70px;
}

.bg-dark {
  background-color: #222222;
}

.text-silver-dark {
  color: #7f7f7f;
}

.text-silver-light {
  color: #B2B2B2;
}

.text-orange {
  color: #F8AB3A;
}

.text-dark {
  color: #222222;
}

.font-size-48 {
  font-size: 48px;
}

.font-size-36 {
  font-size: 36px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-10 {
  font-size: 10px;
}

.border-bottom-orange {
  border-bottom: 5px solid #F8AB3A;
  margin-top: 10px;
  width: 50px;
}

.border-bottom-dark {
  border-bottom: 2px solid #222222;
  margin-top: 10px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-success {
  border: 1px solid green;
}

.bg-white-with-shadow {
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3) !important;
}

.border-box-silver {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(127, 127, 127, 0.51);
  -moz-box-shadow: 2px 2px 5px 0px rgba(127, 127, 127, 0.51);
  box-shadow: 2px 2px 5px 0px rgba(127, 127, 127, 0.51);
}

.label {
  color: #B2B2B2;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 12px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.label-silver-dark {
  color: #7f7f7f;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: DinM;
}

label {
  color: #B2B2B2;
  font-size: 12px;
  font-family: DinM;
}

.no-border {
  border: 0;
}

.form-border-1 {
  border: 1px solid #B2B2B2;
}

.form-border-silver {
  border: 1px solid #E5E5E5;
}

.form-select {
  color: #7f7f7f;
}

option {
  font-family: DinM;
  color: #B2B2B2;
}

.panelCard-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.btnSearch {
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
}

.list-unstyled li {
  color: #B2B2B2;
}

.arrow-right {
  margin-top: -44px;
  position: absolute;
  right: 125px;
}

.border-orange {
  border: 2px solid #F8AB3A;
}

.slider-selection {
  background: #F8AB3A !important;
}

.slider.slider-horizontal {
  width: 100% !important;
  height: 5px;
}

.slider-handle {
  border: 1px solid #F8AB3A;
  background-color: #ffffff !important;
  background-image: none !important;
}

.opacity-50 {
  opacity: 50%;
}

.border-radius-chat {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.circle-success {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.circle-orange {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #F8AB3A;
}

.chat {
  background: #7f7f7f;
}

.chat-left {
  background-color: #fff !important;
}

.table-responsive table {
  border-collapse: separate;
  border: none;
}

.table-head {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.table-row {
  background-color: #fff;
  box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13);
}

.text-decoration-warning {
  border-bottom: 1px solid #F8AB3A;
  display: inline;
}

.text-decoration-dark {
  border-bottom: 1px solid #222222;
  display: inline;
}

.custom-table > .row {
  width: 100%;
  white-space: nowrap;
}

@media screen and (max-width: 568px) {
  .arrow-right {
    margin-top: -44px;
    position: absolute;
    right: 77px;
  }

  .border-profile {
    display: none;
  }

  .btnSearch {
    padding: 10px;
  }

  .custom-table > .row {
    width: 170vh;
  }
}
@media screen and (min-width: 997px) {
  .border-right-custom {
    padding: 20px;
    border-right: 2px solid #efefef;
  }

  .border-bottom-custom {
    padding: 20px;
    border-bottom: 1px solid #efefef;
  }

  .border-bottom-custom-op-50 {
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  hr {
    color: #efefef;
    height: 2px;
    margin: 20px;
    z-index: 99;
  }

  .pr-40 {
    padding-right: 40px;
  }
}

/*# sourceMappingURL=admin.css.map */
