
* {
	overflow: hidden;
}
	.socialLogin {
		width: 100%;
		-webkit-box-shadow: 2px 0px 26px 0px rgba(221,221,221,1);
	    -moz-box-shadow: 2px 0px 26px 0px rgba(221,221,221,1);
	    box-shadow: 2px 0px 26px 0px rgba(221,221,221,1);
	}
  .leftIcon {
      background-color: #F8AB3A;
      padding: 15px 20px;
    }

@media (max-width: 768px) {
	.jumbotron {
		display: none;
	}
}


/* DEKSTOP VER */
@media (min-width: 992px) {
	.login {
		padding-top: 30px;
	}
	.jumbotron {
	/*background-image: url('../img/login.png');*/
	background-size: cover;
	margin-top: -125px;
	height: 740px;
	width: 100%;
	object-position: center;
	object-fit: cover;
	position: relative;
	}
	.carousel-caption h5 {
		font-size: 48px;
		text-transform: uppercase;
		font-weight: normal;
	}
	.carousel-indicators {
		justify-content: start;
	}
	.carousel-caption, .carousel-indicators{
		margin-bottom: 80px;
	}

	.navbar {
		position: relative;
		z-index: 2;
		padding-top: 70px;
		padding-left: 100px;
	}

	.jumbotron .container {
		position: relative;
		z-index: 1;
	}

	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
		transition: all 1s;
	}

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid #F8AB3A;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
		transition: all 1s;
	}

}		
/* END DEKSTOP */