@font-face {
    font-family: DinE;
    src: url(../fonts/DINEngschriftStd.otf);
}

.DinE {
    font-family: DinE;
    letter-spacing: 1px;
}

@font-face {
    font-family: DinM;
    src: url(../fonts/DINMittelschriftStd.otf);
}

.DinM {
    font-family: DinM;
}

/* SF Pro Display Heavy*/
@font-face {
    src: url(../fonts/SF-Pro-Display-Heavy.otf);
    font-family: SFPD-Heavy;   
}

.SFPD-Regular {
    font-family: SFPD-Regular;
    font-size: 14px;
}
/* SF Pro Display Heavy*/
@font-face {
    src: url(../fonts/SF-Pro-Display-Heavy.otf);
    font-family: SFPD-Heavy;   
}

.SFPD-Heavy {
    font-family: SFPD-Heavy;
}
/* SF Pro Display Bold*/
@font-face {
	src: url(../fonts/SF-Pro-Display-Bold.otf);
    font-family: SFPD-Bold;   
}

.SFPD-Bold {
    font-family: SFPD-Bold;
}

/* SF Pro Display Medium*/
@font-face {
    src: url(../fonts/SF-Pro-Display-Medium.otf);
    font-family: SFPD-Medium;  
}

.SFPD-Medium {
    font-family: SFPD-Medium;
    font-size: 14px;
}

/* SF Pro Display Regular*/
@font-face {
	src: url(../fonts/SF-Pro-Display-Regular.otf);
    font-family: SFPD-Regular;   
}

.SFPD-Regular {
    font-family: SFPD-Regular;
}

/* SF Pro Display Light*/
@font-face {
	src: url(../fonts/SF-Pro-Display-Light.otf);
    font-family: SFPD-Light;   
}

.SFPD-Light {
    font-family: SFPD-Light;
}

.font-size-33 {
    font-size: 33px;
}
.font-size-9 {
    font-size: 9px;
}
.font-size-38 {
    font-size: 38px;
}